.nav-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
  cursor: pointer;

  &__item{
    width: 24px;
    height: 24px;
  }

  &__item-counter{
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    background: #04724D;
  }
}

