.btn{
  display: block;
  margin-top: 15px;
  width: 100%;
  border-color: none;
  border-width: 0;
  border-radius: 3px;
  line-height: 2rem;
  background: #04724D;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;

  &:hover{
    background: #035f40;
  }

  &--50w{
    display: inline ;
    width: 40%;
    margin: 0 5px
  }

  &--outline{
    display: inline ;
    background: white;
    border-color: #04724D;
    border-width: 1px;
    color: #04724D;

    &:hover{
      color: white;
    }
  }

  &--secondary{
    background: #F2F2F2;
    color: #5F5F5F;
    border: 1px solid #F2F2F2;

    &:hover{
      border: 1px solid #035f40;
      color: #035f40;
      background: #F2F2F2;
    
    }
  }

  &--right{
    display: inline;
    width: auto;
    margin-top: 2rem;
    padding: 0 2rem;
    float: right;
  }
}