.cart-dropdown{
  position: absolute;
  top: 100px;
  right: 300px;
  min-height: 400px;
  min-width: 300px;
  padding: 5px 10px;
  overflow-y: scroll;
  background: white;
  box-shadow: 0 .125rem .25rem rgba(#000, .25)
}