.category{
  position: relative;
  padding: 10px;
  box-shadow: 0 .125rem .25rem rgba(#000, .15);
  overflow: hidden;
  cursor: pointer;

  &:hover img{
    transform: scale(1.1);
    transition: 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
  }

  &__image-wrapper{
    position: relative;
    width: 100%;
    min-height: 300px;
    overflow: hidden;
  }

  & img{
    width: 100%;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
  }

  &__overlay{
    position: absolute;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #50505047;
    z-index: 99;
  }
}