.card{
  position: relative;
  padding: 10px;
  box-shadow: 0 .125rem .25rem rgba(#000, .25);

  &__image{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  &__detail{
    position: relative;
    padding: 10px 10px 5px;
  }

  &__title{
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: bold;
  }

  &__description{
    font-size: 12px;
    line-height: 1rem;
    margin: 5px 0;
  }

  &__price{
    margin-top: 1.2rem;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: #04724D;
  }

  &__stock{
    color: #333333ce
  }
}