.product{
  position: relative;
  display: flex;

  &__image-wrapper{
    width: 60%;

    & img{
      width: 100%;
      height: 500px;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  &__user-control{
    position: relative;
    width: 40%;
    padding: 0 2rem;
  }

  &__name{
    font-weight: 600;
    color: #333
  }

  &__price{
    margin-top: 1rem;
    font-size: 22px;
    color: #333
  }

  &__minimum{
    margin-top: 3rem;

    & h3{
      margin: 0;
      font-weight: 600;
      color: #333
    }
  }
}

.store{
  margin-top: 4rem;

  & p{
    line-height: 1.8rem
  }
}