.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 80px;
  background:white;
  box-shadow: 0 .125rem .25rem rgba(#000, .075);
  z-index: 9999;

  &__wrapper{
    display: flex;
    align-items: center;
  }

  &__title{
    font-weight: 500;
    color: #04724D;
  }

  &__user-control{
    display: flex;
    margin-left: auto;
    justify-content: space-around;
  }

  &__user{
    display: flex;
    align-items: center;

    & img{
      height: 64px;
      width: 64px;
      margin-left: 15px
    }
  }
}