.control{
  position: relative;
  margin-top: 2rem;
  margin-bottom: 7rem;
  display: flex;
  align-items: center;

  &__item{
    fill: #04724D;
    width: 24px;
    height: 24px;
    margin: 0 20px;
    cursor: pointer;

    &:hover{
      fill: #076949;
    }
  }
  
  &__quantity{
    width: 100px;
    padding: 10px;
    background: #F4F4F4;
    text-align: center;
    font-weight: 500;
  }

  &--no-margin{
    margin: 0
  }
}

