.product-cart{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  &--header{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #9b9b9b;
  }

  &__info{
    display: flex;
    width: 35%;
    align-items: center;
    margin-right: 10px;

    & img{
      height: 50px;
      width: 50px;
      border-radius: 50px;
      object-fit: cover;
      margin-right: 1rem
    }
  }

  &__price{
    width: 15%;
    margin-right: 10px
  }

  &__control{
    width: 25%
  }

  &__delete{
    height: 24px;
    width: 24px;
    cursor: pointer;

    &:hover{
      fill: #04724D
    }
  }
}