.form{
  position: relative;
  margin-top: 2rem;
  overflow: hidden;

  & label{
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #5f5f5f;
  }

  &__input{
    display: block;
    padding: 5px 10px;
    background: #f8f8f8;
    border: none;
    width: 100%;
    line-height: 2rem;

    &:focus{
      outline: none;
    }
  }


}