.auth{
  position: relative;
  margin: auto;
  height: 510px;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 .125rem .25rem rgba(#000, .2);

  &__title{
    margin-top: 0;
    color: #5F5F5F;
  }

  & p{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    color: #5f5f5f
  }

  & .btn-group{
    display: block;
    margin-top: 5rem
  }
}