@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");

a{
 text-decoration: none !important;
 color: #04724D !important;
}

a:hover{
  color: #04724D !important;
}

h1, h2, h3, h4, h5, h6{
  color: #333
}

p{
  margin: .5rem 0;
}