.cart-item{
  display: flex;
  margin-bottom: 15px;
  align-items: center;

  & img{
    height: 42px;
    width: 42px;
    object-fit: cover;
    border-radius: 30px;
  }

  &__info{
    font-size: 14px;
    margin-left: 20px;
  }
}